.product-description-logo {
    text-align: center;
    position: relative;
    top: 2rem;
}

.project-description-container {
    margin-top: -6rem;
}

.project-description-body-actions {
    justify-content: space-between;
}