@import "../../assets/scss/variables.scss";

.hr-container {
    margin: 25px 0;
}

.hr-seperator {
    width: 30%;
    border: 1px solid $grey;

    @media (min-width: 1440px){
        height: 2rem;
    }
}

.project-scores-container {
    @media (min-width: 1440px){
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}