@import "../../../assets/scss/variables.scss";

.button-primary {
    border: none;
    background: $primary;
    color: $white;
    cursor: pointer;
    padding: 20px 30px;
    border-radius: 50px;
    transition: all 0.25s;

    &:hover {
        background: $secondary;
    }
}

.button-disabled {
    background: $grey;

    &:hover {
        background: $grey;
    }
}