@font-face {
  font-family: Commissioner;
  src: url("https://fonts.google.com/specimen/Commissioner");
}

body {
  margin: 0;
  font-family: Commissioner;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
